
<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <display-name>Archetype Created Web Application</display-name>
    
  <servlet>
  	<servlet-name>Controller</servlet-name>
  	<servlet-class>ua.lvil.learn.epam.odoskaliuk.cinema.web.Controller</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Controller</servlet-name>
  	<url-pattern>/controller</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
 
</web-app>